<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Auteur</title>
        <!--<link href="https://useiconic.com/open/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body style="height: 100%;">
        <div style="min-height: 100%; position: relative; bottom: 0;">
            <div id="grand_ecran" class="text-bg-light p-3 sticky-top" style="display: none;">
                <a href="/partage"><img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" style="width: 20%;" alt=""></a>
                <a href="/partage"><button type="button" class="btn btn-outline-success">Accueil</button></a>
                <a href="/partage/jeu/"><button type="button" class="btn btn-outline-success">Jouer</button></a>
                <a href="/partage/tags"><button type="button" class="btn btn-outline-success">Les tags</button></a>
                <a href="/partage/rechercher/"><button type="button" class="btn btn-outline-success">Rechercher</button></a>
                <a href="/partage/sources/allsources/"><button type="button" class="btn btn-outline-success">Nos sources</button></a>
                <!--<a href="/partage/more/contribute/"><button type="button" class="btn btn-outline-success">Contribuer</button></a>-->
                <a href="/partage/more/leProjet/"><button type="button" class="btn btn-outline-success">Le projet</button></a>
            </div>

            <div id="petit_ecran" style="display: none;" class="sticky-top">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/partage">
                            <img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" width="160" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" href="/partage">Accueil</a>
                                <a class="nav-link" href="/partage/jeu/">Jouer</a>
                                <a class="nav-link" href="/partage/tags/">Les tags</a>
                                <a class="nav-link" href="/partage/rechercher/">Rechercher</a>
                                <a class="nav-link" href="/partage/sources/allsources/">Nos sources</a>
                                <!--<a class="nav-link" href="/partage/more/contribute/">Contribuer</a>-->
                                <a class="nav-link" href="/partage/more/leProjet/">Le projet</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
            </div>

            <script>
                var grand_ecran = document.getElementById('grand_ecran');
                var petit_ecran = document.getElementById('petit_ecran');
                if (screen.width > 800) {
                    grand_ecran.style.display = 'block';
                    petit_ecran.style.display = 'none';
                } else {
                    petit_ecran.style.display = 'block';
                    grand_ecran.style.display = 'none';
                }
            </script>

            <div class="card">
                <div class="card-body">
                    {% if auteur %}
                        {% for aut in auteur %}
                            <h3 class="card-title">{{ aut.nom }}</h3>
                            <br>
                            <p><b>Profession :</b> {{ aut.profession }}</p>
                            <p><b>Organisation :</b> {{ aut.organisation }}</p>
                            <p><b>Ses oeuvres :</b>
                            {% if source %}
                                {% for s in source %}
                                    {% for aut2 in s.auteur.all %}
                                        {% if aut2.nom == aut.nom %}
                                            <a href="/partage/sources/{{ s.titre }}"><button type="button" class="btn btn-light btn-sm">{{ s.titre }}</button></a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <p>pas de source</p>
                            {% endif %}</p>    
                        {% endfor %}
                    {% else %}
                        <p>No authors are available.</p>
                    {% endif %}
                    <p><button type="button" class="btn btn-secondary" onclick="history.back()">Retour</button>
                </div>
            </div>           

            <footer class="text-center bg-light" style="width: 100%; border-top: 1px solid grey;">
                <div class="small text-muted">
                    <small>Ce(tte) œuvre est mise à disposition selon les termes de la <a class="link-success" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de Modification 4.0 International</a>.</small>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>