{% extends "base.html" %}

{% block title %}Tag {{ letag }}{% endblock %}

{% block content %}
{% if auteur %}
    {% for aut in auteur %}
        <h1 class="text-5xl text-center font-bold text-gray-800 py-14">{{ aut.nom }}</h1>

        <div class="gap-10 py-20 items-start">
            <div class="col-span-1 bg-white p-5 rounded-xl shadow-3xl">
                        <p><b>Profession :</b> {{ aut.profession }}</p><br>
                        <p><b>Organisation :</b> {{ aut.organisation }}</p><br>
                        <p><b>Ses oeuvres :</b>
                        {% if source %}
                            {% for s in source %}
                                {% for aut2 in s.auteur.all %}
                                    {% if aut2.nom == aut.nom %}
                                    <div class="flex justify-center gap-x-10 mt-4">
                                        <a href="/partage/sources/{{ s.titre }}" class="center bg-white rounded-lg py-2 px-4 text-lg block w-fit shadow-3xl hover:bg-gray-200 transition-all">
                                            <i class="bi bi-book"></i> {{ s.titre }}</a></div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <p>pas de source</p>
                        {% endif %}</p>    
                    {% endfor %}
                {% else %}
                    <p>No authors are available.</p>
                {% endif %}
                <div class="flex gap-x-10 mt-4">
                    <a href="javascript:history.back()" class="bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all">
                        Retour</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}