{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
{% if init_impact %}
<div class="absolute flex items-center bottom-5 mx-auto left-0 right-0 w-fit">
    <svg class="opacity-60" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
        <style>
            @keyframes chrome {
                0% {
                    transform: rotate(0)
                }

                to {
                    transform: rotate(360deg)
                }
            }
        </style>
        <g style="animation:chrome 1s cubic-bezier(.215,.61,.355,1) infinite both;transform-origin:54% center">
            <path stroke="#000000" stroke-width="1.5"
                d="M14.524 14.15l-4.047 4.736m.107-5.828l-2.94-6.03m5.096 2.355h6.962" />
            <path fill="#000000"
                d="M7.588 15.124a6.249 6.249 0 012.288-8.536l-.75-1.299a7.749 7.749 0 00-2.837 10.585l1.3-.75zm2.288-8.536a6.249 6.249 0 018.536 2.288l1.299-.75A7.749 7.749 0 009.126 5.289l.75 1.3zm8.536 2.288a6.249 6.249 0 01-2.288 8.536l.75 1.299a7.749 7.749 0 002.837-10.585l-1.3.75zm-2.288 8.536a6.249 6.249 0 01-8.536-2.288l-1.299.75a7.749 7.749 0 0010.585 2.837l-.75-1.3z" />
            <circle cx="13" cy="12" r="2.625" stroke="#34d399" stroke-width="1.5" transform="rotate(150 13 12)" />
        </g>
    </svg>
    <p class="text-center text-gray-500"> Le chargement du modèle pour cette page a représenté <span
            class="font-bold text-emerald-400">{{init_impact}}</span>
        kg eq/CO<sub>2</sub>.</p>

</div>
{% endif %}
<section class="container py-20">
    <div class="pb-10 text-center w-3/4 mx-auto">
        <h3 class="text-2xl font-medium text-emerald-400 uppercase tracking-[1em] mb-2">Green AI</h3>
        <h1 class="font-bold text-5xl text-gray-800 leading-none">Maintenez votre base de connaissances sur les enjeux
            environnementaux contemporains</h1>
        <div class="flex justify-center gap-10 mt-10">
            <a href="/partage/more/leProjet/"
                class="bg-emerald-400 rounded-lg py-3 px-5 text-xl block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all"><i
                    class="bi bi-boxes"></i>
                Découvrir</a>
            <a href="/partage/rechercher/"
                class="bg-white rounded-lg py-3 px-5 text-xl block w-fit shadow-3xl hover:bg-gray-200 transition-all"><i
                    class="bi bi-search"></i> Rechercher</a>
        </div>
    </div>

    <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl">
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <a class="text-2xl text-gray-800 font-medium block w-fit" href="/partage/sources/{{ texte.source }}">
                    {{ texte.source }}
                </a>
                <p>|</p>
                {% for author in texte.source.auteur.all %}
                <a class="text-sm px-1 py-[2px] rounded-md bg-gray-100 hover:bg-gray-200 transition-all"
                    href="/partage/author/{{ author }}">
                    {{ author}}</a>
                {% endfor %}
            </div>

            <ul class="flex gap-5 text-2xl">
                {% if texte %}
                {% if texte in content_http_list %}
                <li><a href="{{ texte.location }}" target="_blank"><i
                            class="bi bi-link-45deg text-gray-700 hover:!text-cyan-400 transition-all cursor-pointer"></i></a>
                </li>
                {% else %}
                <li title="{{ texte.location }}"
                    class="text-gray-700 hover:text-blue-400 transition-all cursor-pointer">
                    <i class="bi bi-info-circle-fill"></i>
                </li>
                {% endif %}
                <li>
                    <a href="/../admin/partage/content/{{ texte.id }}/change/" target="_blank"><i
                            class="bi bi-pen-fill text-gray-700 hover:text-yellow-400 transition-all cursor-pointer"></i></a>
                </li>
                <li class="text-gray-700 hover:text-red-400 transition-all cursor-pointer"><i
                        class="bi bi-clipboard-check"></i></li>
            </ul>
        </div>
        <p class="py-2">{{ texte.text|linebreaks }}</p>
        <div class="flex gap-2 mt-2">
            Tags :
            {% for letag in texte.tag.all %}
            <a class="text-sm px-1 py-[2px] rounded-md bg-emerald-400 hover:bg-emerald-500 transition-all text-white"
                href="/partage/{{ letag }}/contenus/">{{ letag }}</a>
            {% endfor %}
        </div>
        <div class="w-fit mx-auto">
            <button id="button_pre" type="button" class="btn btn-secondary" onclick="history.back()"><i
                    class="bi bi-arrow-left font-bold text-2xl"></i></button>
            <a href="/partage/next/{{ content_id_suivant }}"><i class="bi bi-arrow-right font-bold text-2xl"></i></a>
        </div>
    </div>


    {% endif %}


</section>
<script>

    // On désactive le bouton précédent si l'utilisateur vient d'arriver sur la page d'accueil
    '{% if var_reconnaissance %}'
    let button_pre = document.getElementById('button_pre');
    button_pre.disabled = true;
    '{% endif %}'
</script>
{% endblock %}