<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jouer</title>
        <!--<link href="https://useiconic.com/open/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body style="height: 100%;">
        <div style="min-height: 100%; position: relative; bottom: 0;">
            <div id="grand_ecran" class="text-bg-light p-3 sticky-top" style="display: none;">
                <a href="/partage"><img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" style="width: 20%;" alt=""></a>
                <a href="/partage"><button type="button" class="btn btn-outline-success">Accueil</button></a>
                <a href="/partage/jeu/"><button type="button" class="btn btn-outline-success">Jouer</button></a>
                <a href="/partage/tags/"><button type="button" class="btn btn-outline-success">Les tags</button></a>
                <a href="/partage/rechercher/"><button type="button" class="btn btn-outline-success">Rechercher</button></a>
                <a href="/partage/sources/allsources/"><button type="button" class="btn btn-outline-success">Nos sources</button></a>
                <!--<a href="/partage/more/contribute/"><button type="button" class="btn btn-outline-success">Contribuer</button></a>-->
                <a href="/partage/more/leProjet/"><button type="button" class="btn btn-outline-success">Le projet</button></a>
            </div>

            <div id="petit_ecran" style="display: none;">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/partage">
                            <img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" width="160" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" aria-current="page" href="/partage">Accueil</a>
                                <a class="nav-link active" aria-current="page" href="/partage/jeu/">Jouer</a>
                                <a class="nav-link" href="/partage/tags/">Les tags</a>
                                <a class="nav-link" href="/partage/rechercher/">Rechercher</a>
                                <a class="nav-link" href="/partage/sources/allsources/">Nos sources</a>
                                <!--<a class="nav-link" href="/partage/more/contribute/">Contribuer</a>-->
                                <a class="nav-link" href="/partage/more/leProjet/">Le projet</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
            </div>

            <script>
                var grand_ecran = document.getElementById('grand_ecran');
                var petit_ecran = document.getElementById('petit_ecran');
                if (screen.width > 800) {
                    grand_ecran.style.display = 'block';
                    petit_ecran.style.display = 'none';
                } else {
                    petit_ecran.style.display = 'block';
                    grand_ecran.style.display = 'none';
                }
            </script>

            {% if tab_content_utilise %}
                {% for content in tab_content_utilise%}
                    {% for affichage_rand in tab_affichage_rand %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            <div class="card" id="block{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h3 class="card-title">Ce contenu est-il vrai ou faux ?</h3><br>
                                    <div class="row justify-content-around" id="b1_{{ forloop.counter0 }}" style="display: none;">
                                        {% if affichage_rand == 0 %}
                                            <div class="col-5 mx-auto">
                                                <div class="card" id="rep_{{ forloop.counter0 }}">
                                                    <div class="card-body">
                                                        <p class="card-text text-justify text-center">{{ content.text }}</p>
                                                    </div>
                                                </div>
                                            </div> 
                                        {% else %}
                                            <div class="col-5 mx-auto">
                                                <div class="card" id="rep_{{ forloop.counter0 }}">
                                                    <div class="card-body">
                                                        <p class="card-text text-justify text-center">{{ content.text_game }}</p>
                                                    </div>
                                                </div>  
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div id="b2_{{ forloop.counter0 }}" style="display: none;">
                                        {% if affichage_rand == 0 %}
                                            <div class="card" id="rep_{{ forloop.counter0 }}">
                                                <div class="card-body">
                                                    <p class="card-text text-justify text-center">{{ content.text }}</p>
                                                </div>
                                            </div> 
                                        {% else %}
                                            <div class="card" id="rep_{{ forloop.counter0 }}">
                                                <div class="card-body">
                                                    <p class="card-text text-justify text-center">{{ content.text_game }}</p>
                                                </div>
                                            </div>  
                                        {% endif %}
                                    </div>
                                    <script>
                                        var bloc_jeu_grand_ecran = document.getElementById('b1_{{ forloop.counter0 }}');
                                        var bloc_jeu_petit_ecran = document.getElementById('b2_{{ forloop.counter0 }}');
                                        if (screen.width > 800) {
                                            bloc_jeu_grand_ecran.style.display = 'block';
                                            bloc_jeu_petit_ecran.style.display = 'none';
                                        } else {
                                            bloc_jeu_petit_ecran.style.display = 'block';
                                            bloc_jeu_grand_ecran.style.display = 'none';
                                        }
                                    </script>
                                    <br>
                                    <div class="text-center">
                                        <button id="vrai_{{ forloop.counter0 }}" type="button" class="btn btn-outline-success" onclick="valider(this.id, this.textContent)">VRAI</button>
                                        <button id="faux_{{ forloop.counter0 }}" type="button" class="btn btn-outline-success" onclick="valider(this.id, this.textContent)">FAUX</button>
                                    </div><br>
                                    <div class="progress" style="height: 4px;">
                                        <div id="progressbar_{{ forloop.counter }}" class="progress-bar bg-success" role="progressbar" aria-label="Avancement question" style="width: 25%;" aria-valuenow="{{ forloop.counter }}" aria-valuemin="0" aria-valuemax="{{ nombre_question }}"></div>
                                        <script>
                                            var progressbar = document.getElementById("progressbar_{{ forloop.counter }}");
                                            var pourcent = (parseInt('{{ forloop.counter }}')*100) / parseInt('{{ nombre_question }}');
                                            progressbar.style.width = `${pourcent}%` 
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <a name="les_reps_{{ forloop.counter0 }}"></a>
                            <div class="card" id="true_{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Bonne réponse !</h3><br>
                                    <div class="d-grid gap-2 col-4 mx-auto">
                                        <button id="suivant_{{ forloop.counter0 }}" type="button" class="btn btn-success" onclick="suivant(this.id)">Suivant</button>
                                    </div><br>
                                    <div class="card">
                                        <div class="card-body">
                                            {% if content in content_http_list %}
                                                <h5 class="card-title">{{ content.source }}
                                                    <a href="{{ content.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                        lien</button></a>
                                                </h5>
                                            {% else %}
                                                <h5 class="card-title">{{ content.source }}
                                                    <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ content.location }}">
                                                        Marque page</button>
                                                </h5>
                                            {% endif %}
                                            <h6 class="card-subtitle text-muted mb-2">
                                                {% for author in content.source.auteur.all %}
                                                    <span class="badge text-bg-light">{{ author }}</span>
                                                {% endfor %}

                                            </h6>
                                            <p class="card-text">{{ content.text|linebreaks }}</p>
                                            <div id="tags">
                                                {% for letag in content.tag.all %}
                                                    <span class="badge text-bg-success">{{ letag }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" id="false_{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Mauvaise réponse !</h3><br>
                                    <div class="d-grid gap-2 col-4 mx-auto">
                                        <button id="suivant_{{ forloop.counter0 }}" type="button" class="btn btn-success" onclick="suivant(this.id)">Suivant</button>
                                    </div><br>
                                    <div class="card">
                                        <div class="card-body">
                                            {% if content in content_http_list %}
                                                <h3 class="card-title">{{ content.source }}
                                                    <a href="{{ content.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                        lien</button></a>
                                                </h3>
                                            {% else %}
                                                <h3 class="card-title">{{ content.source }}
                                                    <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ content.location }}">
                                                        Marque page</button>
                                                </h3>
                                            {% endif %}
                                            <h6 class="card-subtitle text-muted mb-2">
                                                {% for author in content.source.auteur.all %}
                                                    <span class="badge text-bg-light">{{ author }}</span>
                                                {% endfor %}

                                            </h6>
                                            <p class="card-text">{{ content.text|linebreaks }}</p>
                                            <div id="tags">
                                                {% for letag in content.tag.all %}
                                                    <span class="badge text-bg-success">{{ letag }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="card" id="block_final">
                    <div class="card-body">
                        <h3 class="card-title">Le jeu est fini !!!</h3><br>
                        <form action="/partage/envoyer2/" method="post">
                            {% csrf_token %}
                            <div id="score_in"></div>
                            <div id="id_content"></div>
                            <div id="score_joueur"></div>
                            <p class="card-text">Votre score est : <span id="score_print"></span>/{{ nombre_question }}</p>
                            <p class="card-text">Saisissez votre pseudo : <input type="text" id="pseudo" name="pseudo" required></p>
                            <button type="submit" class="btn btn-success">Confirmer</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            
            {% if pseudo_score %}
                <div class="card" id="block_final">
                    <div class="card-body">
                        <h3 class="card-title text-center">Les meilleurs scores</h3><br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Pseudo</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for one_pseudo_score in pseudo_score %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        {% for item in one_pseudo_score %}
                                            <td>{{ item }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button type="button" class="btn btn-success" onclick="location.href='/partage/jeu/'">Retour à l'accueil de jeu</button>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <footer class="text-center bg-light" style="width: 100%; border-top: 1px solid grey;">
                <div class="small text-muted">
                    <small>Ce(tte) œuvre est mise à disposition selon les termes de la <a class="link-success" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de Modification 4.0 International</a>.</small>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    '{% if tab_content_utilise %}'
        // On cache les blocs des question 2 à nombre_question
        for (let i = 1; i < parseInt('{{ nombre_question }}'); i++) {
            var block = document.getElementById(`block${i}`);
            block.style.display = "none";
        }

        // On cache les blocs résultats des question 1 à nombre_question
        for (let i = 0; i < parseInt('{{ nombre_question }}'); i++) {
            var block_resultat_true = document.getElementById(`true_${i}`);
            var block_resultat_false = document.getElementById(`false_${i}`);
            block_resultat_true.style.display= "none";
            block_resultat_false.style.display= "none";
        }

        var tab_affichage_rand = []; // Tableau stockant 0 si le contenu est vrai et 1 s'il est faux
        '{% for affichage_rand in tab_affichage_rand %}'
            tab_affichage_rand.push('{{ affichage_rand }}')
        '{% endfor %}'

        var score = 0;

        // On cache le bloc final
        var block_final = document.getElementById('block_final')
        block_final.style.display = 'none';

        var tab_score = []; // Tableau qui indique si oui ou non l'utilisateur s'est trompé

        // Fonction qui va vérifier si la réponse est juste et afficher le bloc résultat en conséqunce
        function valider(clicked_id, clicked_text) {
            // On récupère le numéro de bloc actuel
            var parse_str = clicked_id.split('_');
            var looper = parse_str[1];
            var block_resultat_true = document.getElementById(`true_${looper}`);
            var block_resultat_false = document.getElementById(`false_${looper}`);
            // On désactive les boutons vrai et faux
            var button_true = document.getElementById(`vrai_${looper}`);
            var button_false = document.getElementById(`faux_${looper}`);
            button_true.disabled = true;
            button_false.disabled = true;
            var rep = document.getElementById(`rep_${looper}`);
            var testeur = 0; // Variable pour ne pas rentrer dans deux boucles
            if ((clicked_text == "VRAI") && (tab_affichage_rand[looper] == "0") && (testeur == 0)) {
                block_resultat_true.style.display= "block";
                score = score + 1;
                rep.style.border = "2px solid green";
                tab_score.push('true');
                testeur++;
            }
            if ((clicked_text == "FAUX") && (tab_affichage_rand[looper] == "0") && (testeur == 0)) {
                block_resultat_false.style.display= "block";
                rep.style.border = "2px solid red";
                tab_score.push('false');
                testeur++;
            }
            if ((clicked_text == "FAUX") && (tab_affichage_rand[looper] == "1") && (testeur == 0)) {
                block_resultat_true.style.display= "block";
                score = score + 1;
                rep.style.border = "2px solid green";
                tab_score.push('true');
                testeur++;
            }
            if ((clicked_text == "VRAI") && (tab_affichage_rand[looper] == "1") && (testeur == 0)) {
                block_resultat_false.style.display= "block";
                rep.style.border = "2px solid red";
                tab_score.push('false');
                testeur++;
            }
            document.location.href = `#les_reps_${looper}`;
        }

        var tab_content_utilise = []; // Tableau contenant les id des contenus joués
        '{% for content in tab_content_utilise %}'
            tab_content_utilise.push('{{ content.id }}')
        '{% endfor %}'

        // Cache le bloc actuel, affiche le bloc suivant
        function suivant(clicked_id) {
            // On récupère le numéro du bloc actuel
            var parse_str = clicked_id.split('_');
            var id = parse_str[1];
            var block_ancien = document.getElementById(`block${id}`);
            var block_suivant = document.getElementById(`block${parseInt(id) + 1}`);
            var block_false = document.getElementById(`false_${id}`);
            var block_true = document.getElementById(`true_${id}`);
            // On cache l'ancien bloc et les blocs résultats
            block_false.style.display = "none";
            block_true.style.display = "none";
            block_ancien.style.display = "none";
            // Si ce n'est pas le dernier bloc, on affiche le suivant
            if (parseInt(id) < (parseInt('{{ nombre_question }}') - 1)) {
                block_suivant.style.display = "block";  
            }
            // Si c'est le dernier on affiche le bloc final et on envoie discrètement via un formulaire le tableau de score et celui des id
            if (id == (parseInt('{{ nombre_question }}') - 1)) {
                var div_score_in = document.getElementById("score_in");
                var div_id_content = document.getElementById("id_content");
                var div_score_joueur = document.getElementById("score_joueur");
                var score_print = document.getElementById("score_print");
                for (let i = 0; i < tab_content_utilise.length; i++) {
                    const element = tab_content_utilise[i];
                    div_id_content.innerHTML += `<input type="hidden" name="id_${i}" id="id_${i}" value="${element}">`;
                }
                for (let i = 0; i < tab_score.length; i++) {
                    const element = tab_score[i];
                    div_score_in.innerHTML += `<input type="hidden" name="score_${i}" id="score_${i}" value="${element}">`;
                }
                div_score_joueur.innerHTML += `<input type="hidden" name="score" id="score" value="${score}">`;
                score_print.innerHTML += score;
                block_final.style.display = 'block';
                document.getElementById('score').value = score;
            }
        }
    '{% endif %}'
</script>