{% extends "base.html" %}

{% block title %}Jouer{% endblock %}

{% block content %}

<section class="py-10">
    {% if tab_content_utilise %}
        {% for content in tab_content_utilise%}
            {% for affichage_rand in tab_affichage_rand %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    <div class="card" id="block{{ forloop.counter0 }}">
                            <h3 class="text-5xl text-center font-bold text-gray-800">Ce contenu est-il vrai ou faux ?</h3><br>
                            <div class="gap-10 py-20 items-start">
                                <div class="col-span-1 bg-white p-5 rounded-xl shadow-3xl">
                            <div class="row justify-content-around" id="b1_{{ forloop.counter0 }}" style="display: none;">
                                {% if affichage_rand == 0 %}
                                    <div class="col-5 mx-auto">
                                        <div class="card" id="rep_{{ forloop.counter0 }}">
                                            <div class="card-body">
                                                <p class="card-text text-center">{{ content.text }}</p>
                                            </div>
                                        </div>
                                    </div> 
                                {% else %}
                                    <div class="col-5 mx-auto">
                                        <div class="card" id="rep_{{ forloop.counter0 }}">
                                            <div class="card-body">
                                                <p class="card-text text-center">{{ content.text_game }}</p>
                                            </div>
                                        </div>  
                                    </div>
                                {% endif %}
                            </div>
                            <br>
                            <div id="b2_{{ forloop.counter0 }}" style="display: none;">
                                {% if affichage_rand == 0 %}
                                    <div class="card" id="rep_{{ forloop.counter0 }}">
                                        <div class="card-body">
                                            <p class="card-text text-center">{{ content.text }}</p>
                                        </div>
                                    </div> 
                                {% else %}
                                    <div class="card" id="rep_{{ forloop.counter0 }}">
                                        <div class="card-body">
                                            <p class="card-text text-center">{{ content.text_game }}</p>
                                        </div>
                                    </div>  
                                {% endif %}
                            </div>
                            <script>
                                var bloc_jeu_grand_ecran = document.getElementById('b1_{{ forloop.counter0 }}');
                                var bloc_jeu_petit_ecran = document.getElementById('b2_{{ forloop.counter0 }}');
                                if (screen.width > 800) {
                                    bloc_jeu_grand_ecran.style.display = 'block';
                                    bloc_jeu_petit_ecran.style.display = 'none';
                                } else {
                                    bloc_jeu_petit_ecran.style.display = 'block';
                                    bloc_jeu_grand_ecran.style.display = 'none';
                                }
                            </script>
                            <div class="text-center flex justify-center gap-10 mt-10">
                                <button id="vrai_{{ forloop.counter0 }}" type="button" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all" onclick="valider(this.id, this.textContent)">VRAI</button>
                                <button id="faux_{{ forloop.counter0 }}" type="button" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all" onclick="valider(this.id, this.textContent)">FAUX</button>
                            </div><br>
                            <div class="progress" style="height: 4px;">
                                <div id="progressbar_{{ forloop.counter }}" class="progress-bar bg-success" role="progressbar" aria-label="Avancement question" style="width: 25%;" aria-valuenow="{{ forloop.counter }}" aria-valuemin="0" aria-valuemax="{{ nombre_question }}"></div>
                                <script>
                                    var progressbar = document.getElementById("progressbar_{{ forloop.counter }}");
                                    var pourcent = (parseInt('{{ forloop.counter }}')*100) / parseInt('{{ nombre_question }}');
                                    progressbar.style.width = `${pourcent}%` 
                                </script>
                            </div>
                            </div>
                        </div>
                    </div>
                    <a name="les_reps_{{ forloop.counter0 }}"></a>
    <div class="card" id="true_{{ forloop.counter0 }}">
        <div class="card-body">
            <h5 class="text-center font-medium text-3xl pb-5">Bonne réponse !</h5><br>
            <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <a class="text-2xl text-gray-800 font-medium block w-fit" href="/partage/sources/{{ content.source }}">
                            {{ content.source }}
                        </a>
                        <p>|</p>
                        {% for author in content.source.auteur.all %}
                        <a class="text-sm px-1 py-[2px] rounded-md bg-gray-100 hover:bg-gray-200 transition-all"
                            href="/partage/author/{{ author }}">
                            {{ author}}</a>
                        {% endfor %}
                    </div>
        
                    <ul class="flex gap-5 text-2xl">
                        {% if content %}
                        {% if content in content_http_list %}
                        <li><a href="{{ content.location }}" target="_blank"><i
                                    class="bi bi-link-45deg text-gray-700 hover:!text-cyan-400 transition-all cursor-pointer"></i></a>
                        </li>
                        {% else %}
                        <li title="{{ content.location }}"
                            class="text-gray-700 hover:text-blue-400 transition-all cursor-pointer">
                            <i class="bi bi-info-circle-fill"></i>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/../admin/partage/content/{{ content.id }}/change/" target="_blank"><i
                                    class="bi bi-pen-fill text-gray-700 hover:text-yellow-400 transition-all cursor-pointer"></i></a>
                        </li>
                        <li>
                            <a href="/../partage/next/{{ content.id }}/" target="_blank"><i
                                class="bi bi-share text-gray-700 hover:text-red-400 transition-all cursor-pointer"></i></a>
                            </li>
                    </ul>
                </div>
                <p class="py-2">{{ content.text|linebreaks }}</p>
                <div class="flex gap-2 mt-2">
                    Tags :
                    {% for letag in content.tag.all %}
                    <a class="text-sm px-1 py-[2px] rounded-md bg-emerald-400 hover:bg-emerald-500 transition-all text-white"
                        href="/partage/{{ letag }}/contenus/">{{ letag }}</a>
                    {% endfor %}
                </div>
            </div><br>
            {% endif %}
            <div class="d-grid gap-2 col-4 mx-auto flex justify-center">
                <button id="suivant_{{ forloop.counter0 }}" type="button" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all"
                    onclick="suivant(this.id)">Suivant</button>
            </div>
        </div>
    </div>

    <div class="card" id="false_{{ forloop.counter0 }}">
        <div class="card-body">
            <h5 class="text-center font-medium text-3xl pb-5">Mauvaise réponse !</h5><br>
            <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <a class="text-2xl text-gray-800 font-medium block w-fit" href="/partage/sources/{{ content.source }}">
                            {{ content.source }}
                        </a>
                        <p>|</p>
                        {% for author in content.source.auteur.all %}
                        <a class="text-sm px-1 py-[2px] rounded-md bg-gray-100 hover:bg-gray-200 transition-all"
                            href="/partage/author/{{ author }}">
                            {{ author}}</a>
                        {% endfor %}
                    </div>
        
                    <ul class="flex gap-5 text-2xl">
                        {% if content %}
                        {% if content in content_http_list %}
                        <li><a href="{{ content.location }}" target="_blank"><i
                                    class="bi bi-link-45deg text-gray-700 hover:!text-cyan-400 transition-all cursor-pointer"></i></a>
                        </li>
                        {% else %}
                        <li title="{{ content.location }}"
                            class="text-gray-700 hover:text-blue-400 transition-all cursor-pointer">
                            <i class="bi bi-info-circle-fill"></i>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/../admin/partage/content/{{ content.id }}/change/" target="_blank"><i
                                    class="bi bi-pen-fill text-gray-700 hover:text-yellow-400 transition-all cursor-pointer"></i></a>
                        </li>
                        <li>
                            <a href="/../partage/next/{{ content.id }}/" target="_blank"><i
                                class="bi bi-share text-gray-700 hover:text-red-400 transition-all cursor-pointer"></i></a>
                            </li>
                    </ul>
                </div>
                <p class="py-2">{{ content.text|linebreaks }}</p>
                <div class="flex gap-2 mt-2">
                    Tags :
                    {% for letag in content.tag.all %}
                    <a class="text-sm px-1 py-[2px] rounded-md bg-emerald-400 hover:bg-emerald-500 transition-all text-white"
                        href="/partage/{{ letag }}/contenus/">{{ letag }}</a>
                    {% endfor %}
                </div>
            </div></br>
            {% endif %}
            <div class="d-grid gap-2 col-4 mx-auto flex justify-center">
                <button id="suivant_{{ forloop.counter0 }}" type="button" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all"
                    style="cursor: pointer;" onclick="suivant(this.id)">Suivant</button>
            </div><br>
        </div>
    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="card" id="block_final">
            <h3 class="text-5xl text-center font-bold text-gray-800">Le jeu est fini !</h3><br>
            <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl">
                <form action="/partage/envoyer2/" method="post">
                    {% csrf_token %}
                    <div id="score_in"></div>
                    <div id="id_content"></div>
                    <div id="score_joueur"></div>
                    <p class="card-text">Votre score est : <span id="score_print"></span>/{{ nombre_question }}</p>
                    <p class="card-text">Saisissez votre pseudo : <input type="text" id="pseudo" name="pseudo" required></p>
                    <div class="d-grid gap-2 col-4 mx-auto flex justify-center">
                    <button type="submit" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    
    {% if pseudo_score %}
    <div class="card" id="block_final">
        <div class="card-body">
            <h3 class="text-5xl text-center font-bold text-gray-800">Votre score a bien été enregistré !</h3><br><br><br>
            
            <div class="d-grid gap-2 col-4 mx-auto flex justify-center">
                <button type="button" class="btn btn-success bg-emerald-400 rounded-lg py-2 px-4 text-lg block w-fit text-white shadow-3xl hover:bg-emerald-500 transition-all" onclick="location.href='/partage/jeu/'">Retour à l'accueil de jeu</button>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
<script>
    '{% if tab_content_utilise %}'
        // On cache les blocs des question 2 à nombre_question
        for (let i = 1; i < parseInt('{{ nombre_question }}'); i++) {
            var block = document.getElementById(`block${i}`);
            block.style.display = "none";
        }

        // On cache les blocs résultats des question 1 à nombre_question
        for (let i = 0; i < parseInt('{{ nombre_question }}'); i++) {
            var block_resultat_true = document.getElementById(`true_${i}`);
            var block_resultat_false = document.getElementById(`false_${i}`);
            block_resultat_true.style.display= "none";
            block_resultat_false.style.display= "none";
        }

        var tab_affichage_rand = []; // Tableau stockant 0 si le contenu est vrai et 1 s'il est faux
        '{% for affichage_rand in tab_affichage_rand %}'
            tab_affichage_rand.push('{{ affichage_rand }}')
        '{% endfor %}'

        var score = 0;

        // On cache le bloc final
        var block_final = document.getElementById('block_final')
        block_final.style.display = 'none';

        var tab_score = []; // Tableau qui indique si oui ou non l'utilisateur s'est trompé

        // Fonction qui va vérifier si la réponse est juste et afficher le bloc résultat en conséqunce
        function valider(clicked_id, clicked_text) {
            // On récupère le numéro de bloc actuel
            var parse_str = clicked_id.split('_');
            var looper = parse_str[1];
            var block_resultat_true = document.getElementById(`true_${looper}`);
            var block_resultat_false = document.getElementById(`false_${looper}`);
            // On désactive les boutons vrai et faux
            var button_true = document.getElementById(`vrai_${looper}`);
            var button_false = document.getElementById(`faux_${looper}`);
            button_true.disabled = true;
            button_false.disabled = true;
            var rep = document.getElementById(`rep_${looper}`);
            var testeur = 0; // Variable pour ne pas rentrer dans deux boucles
            if ((clicked_text == "VRAI") && (tab_affichage_rand[looper] == "0") && (testeur == 0)) {
                block_resultat_true.style.display= "block";
                score = score + 1;
                tab_score.push('true');
                testeur++;
            }
            if ((clicked_text == "FAUX") && (tab_affichage_rand[looper] == "0") && (testeur == 0)) {
                block_resultat_false.style.display= "block";
                tab_score.push('false');
                testeur++;
            }
            if ((clicked_text == "FAUX") && (tab_affichage_rand[looper] == "1") && (testeur == 0)) {
                block_resultat_true.style.display= "block";
                score = score + 1;
                tab_score.push('true');
                testeur++;
            }
            if ((clicked_text == "VRAI") && (tab_affichage_rand[looper] == "1") && (testeur == 0)) {
                block_resultat_false.style.display= "block";
                tab_score.push('false');
                testeur++;
            }
            document.location.href = `#les_reps_${looper}`;
        }

        var tab_content_utilise = []; // Tableau contenant les id des contenus joués
        '{% for content in tab_content_utilise %}'
            tab_content_utilise.push('{{ content.id }}')
        '{% endfor %}'

        // Cache le bloc actuel, affiche le bloc suivant
        function suivant(clicked_id) {
            // On récupère le numéro du bloc actuel
            var parse_str = clicked_id.split('_');
            var id = parse_str[1];
            var block_ancien = document.getElementById(`block${id}`);
            var block_suivant = document.getElementById(`block${parseInt(id) + 1}`);
            var block_false = document.getElementById(`false_${id}`);
            var block_true = document.getElementById(`true_${id}`);
            // On cache l'ancien bloc et les blocs résultats
            block_false.style.display = "none";
            block_true.style.display = "none";
            block_ancien.style.display = "none";
            // Si ce n'est pas le dernier bloc, on affiche le suivant
            if (parseInt(id) < (parseInt('{{ nombre_question }}') - 1)) {
                block_suivant.style.display = "block";  
            }
            // Si c'est le dernier on affiche le bloc final et on envoie discrètement via un formulaire le tableau de score et celui des id
            if (id == (parseInt('{{ nombre_question }}') - 1)) {
                var div_score_in = document.getElementById("score_in");
                var div_id_content = document.getElementById("id_content");
                var div_score_joueur = document.getElementById("score_joueur");
                var score_print = document.getElementById("score_print");
                for (let i = 0; i < tab_content_utilise.length; i++) {
                    const element = tab_content_utilise[i];
                    div_id_content.innerHTML += `<input type="hidden" name="id_${i}" id="id_${i}" value="${element}">`;
                }
                for (let i = 0; i < tab_score.length; i++) {
                    const element = tab_score[i];
                    div_score_in.innerHTML += `<input type="hidden" name="score_${i}" id="score_${i}" value="${element}">`;
                }
                div_score_joueur.innerHTML += `<input type="hidden" name="score" id="score" value="${score}">`;
                score_print.innerHTML += score;
                block_final.style.display = 'block';
                document.getElementById('score').value = score;
            }
        }
    '{% endif %}'
</script>
{% endblock %}