{% extends "base.html" %}

{% block title %}Tag {{ letag }}{% endblock %}

{% block content %}

    {% if letag %}
    <h1 class="text-5xl text-center font-bold text-gray-800 py-14">Tous les contenus en lien avec le tag<br>"{{ letag }}"</h1>
    {% if content_list %}
    {% for content in content_list %}
    {% for tag in content.tag.all %}
    {% if tag.intitule == letag %}
    <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl my-10">
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <a class="text-2xl text-gray-800 font-medium block w-fit" href="/partage/sources/{{ content.source }}">
                    {{content.source }}</a>
                <p>|</p>
                {% for author in content.source.auteur.all %}
                <a class="text-sm px-1 py-[2px] rounded-md bg-gray-100 hover:bg-gray-200 transition-all"
                    href="/partage/author/{{ author }}">
                    {{ author }}</a>
                {% endfor %}
            </div>


            <ul class="flex gap-5 text-2xl">
                {% if content %}
                {% if content in content_http_list %}
                <li>
                    <a href="{{ content.location }}" target="_blank">
                        <i
                            class="bi bi-link-45deg text-gray-700 hover:!text-cyan-400 transition-all cursor-pointer"></i>
                    </a>
                </li>
                {% else %}
                <li title="{{ content.location }}"
                    class="text-gray-700 hover:text-blue-400 transition-all cursor-pointer">
                        <i class="bi bi-info-circle-fill"></i>
                    </a>
                </li>
                {% endif %}
                <li><a href="/../admin/partage/content/{{ content.id }}/change/" target="_blank">
                        <i class="bi bi-pen-fill text-gray-700 hover:text-yellow-400 transition-all cursor-pointer"></i>
                    </a></li>
                    <li>
                        <a href="/../partage/next/{{ content.id }}/" target="_blank"><i
                            class="bi bi-share text-gray-700 hover:text-red-400 transition-all cursor-pointer"></i></a>
                        </li>{% endif %}
            </ul>
        </div>
        <p class="py-2">{{ content.text|linebreaks }}</p>

        <div class="flex gap-2 mt-2">
            Tags :
            {% for letag in content.tag.all %}
            <a class="text-sm px-1 py-[2px] rounded-md bg-emerald-400 hover:bg-emerald-500 transition-all text-white"
                href="/partage/{{ letag }}/contenus/">
                {{ letag }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
</section>
{% endif %}

{% endblock %}