{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}

{% if sujet == "leProjet" %}
<section class="flex flex-col py-10 gap-10">
    <h1 class="text-5xl text-center font-bold text-gray-800">A propos</h1>
    <div>
        <h3 class="font-bold text-3xl pb-3 text-gray-800">Le projet</h3>
        <p>
            la-derniere-bibliotheque.org est un site de sensibilisation et d'apprentissage
            sur les problèmes écologiques actuels. Grâce à notre base de données encore en
            construction, nous proposons une gamme de contenus sur des thèmes très variés
            (toujours en rapport avec les dérèglements du système Terre).<br />
            Pour vous aider dans votre soif d'apprendre, nous proposons des jeux dans l'onglet
            <a class="text-emerald-400 underline" href="/partage/jeu/">Jouer</a> ainsi qu'un moteur de recherche NLP
            dans l'onglet <a class="text-emerald-400 underline" href="/partage/rechercher/">Rechercher</a>.
            Vous pourrez d'ailleurs tester ses performances en lui posant des questions sur le réchauffement
            climatique, et si vous voulez savoir comment il marche, cliquez <a target="_blank"
                class="text-emerald-400 underline"
                href="https://www.linkedin.com/posts/green-ai-uppa_pr%C3%A9sentation-de-thomas-et-d%C3%A9mo-de-son-application-activity-6950086315581300736-2i60?utm_source=linkedin_share&utm_medium=member_desktop_web">ICI</a>.
        </p>
    </div>

    <div>
        <h3 class="font-bold text-3xl pb-3 text-gray-800">Comment participer ?
        </h3>
        <p>
            Actuellement notre base de données compte {{ content_list.count }} contenus. L'objectif est
            d'augmenter ce chiffre autant que possible. Si le projet vous intéresse, vous pouvez devenir
            contributeur et donc nous aider à agrémenter notre base de données. Pour ce faire, il vous suffit
            d'envoyer un mail à <a class="text-emerald-400 underline"
                href="mailto:contact@la-derniere-bibliotheque.org">contact@la-derniere-bibliotheque.org</a> en y
            expliquant vos motivations, et nous vous
            répondrons avec grand plaisir.
        </p>
    </div>

    <div>
        <h3 class="font-bold text-3xl pb-3 text-gray-800">Qui sommes-nous ?</h3>
        <p>
            L'équipe GreenAI UPPA est un laboratoire engagé qui améliore les algorithmes
            d'apprentissage automatique de pointe. Soucieux de notre impact sur la
            terre, nous développons des algorithmes basse consommation et relevons les
            défis environnementaux. Contrairement à d'autres groupes de recherche, nos
            activités sont dédiées à l'ensemble du pipeline, des bases mathématiques au
            prototype R&D et au déploiement en production avec des partenaires
            industriels. Nous sommes basés à Pau, en France, face aux Pyrénées.<br />
            Notre site : <a class="text-emerald-400 underline" href="https://greenai-uppa.github.io/"
                target="_blank">https://greenai-uppa.github.io/</a>
        </p>
    </div>
</section>
{% endif %}

<script>
    '{% if sujet == "contribute" %}'
    var n1 = '{{ nombre_contenu_ntirel }}';
    var n2 = '{{ nombre_contenu_sloustau }}';
    var n3 = '{{ nombre_contenu_slebeaud }}';
    var n4 = '{{ nombre_contenu_tpoupon }}';
    var barWidth1 = 100;
    var barWidth2 = 100;
    var barWidth3 = (n3 * 100) / 100;
    var barWidth4 = (n4 * 100) / 100;
    window.onload = function () {
        document.getElementById('bar1').style.width = barWidth1 + '%';
        document.getElementById('bar2').style.width = barWidth2 + '%';
        document.getElementById('bar3').style.width = barWidth3 + '%';
        document.getElementById('bar4').style.width = barWidth4 + '%';
    }
    '{% endif %}'
</script>
{% endblock %}