{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}

{% if allsources %}
<section class="py-14">
    <h1 class="text-5xl text-center font-bold text-gray-800 pb-16">Nos sources</h1>
    {% if source_list %}
    <ul class="w-3/4 mx-auto">
        {% for source in source_list %}
        <li class="list-disc py-2"><a class="hover:text-emerald-400 transition-all duration-300 font-bold text-xl"
                href="/partage/sources/{{ source }}">
                {{ source.titre }}
            </a>
            <p>Auteurs :
                {% for auteur in source.auteur.all %}
                <a class="bg-emerald-400 py-[2px] px-1 rounded-md text-sm font-medium text-white"
                    href="/partage/author/{{ auteur }}">
                    {{ auteur }}</a>
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">No sources are available.</p>
    {% endif %}
    {% endif %}

    {% if oneSource %}
    <h1 class="text-5xl text-center font-bold text-gray-800 py-14">Toutes les références</h1>
    {% if content_list %}
    {% for content in content_list %}
    {% if content.source.titre == source %}
    <div class="bg-white rounded-2xl px-6 py-4 shadow-3xl my-10">
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <a class="text-2xl text-gray-800 font-medium block w-fit" href="/partage/sources/{{ content.source }}">
                    {{content.source }}</a>
                <p>|</p>
                {% for author in content.source.auteur.all %}
                <a class="text-sm px-1 py-[2px] rounded-md bg-gray-100 hover:bg-gray-200 transition-all"
                    href="/partage/author/{{ author }}">
                    {{ author }}</a>
                {% endfor %}
            </div>


            <ul class="flex gap-5 text-2xl">
                {% if content %}
                {% if content in content_http_list %}
                <li>
                    <a href="{{ content.location }}" target="_blank">
                        <i
                            class="bi bi-link-45deg text-gray-700 hover:!text-cyan-400 transition-all cursor-pointer"></i>
                    </a>
                </li>
                {% else %}
                <li title="{{ content.location }}"
                    class="text-gray-700 hover:text-blue-400 transition-all cursor-pointer">
                        <i class="bi bi-info-circle-fill"></i>
                    </a>
                </li>
                {% endif %}
                <li><a href="/../admin/partage/content/{{ content.id }}/change/" target="_blank">
                        <i class="bi bi-pen-fill text-gray-700 hover:text-yellow-400 transition-all cursor-pointer"></i>
                    </a></li>
                <li class="text-gray-700 hover:text-red-400 transition-all cursor-pointer"><i
                        class="bi bi-clipboard-check"></i></li>{% endif %}
            </ul>
        </div>
        <p class="py-2">{{ content.text|linebreaks }}</p>

        <div class="flex gap-2 mt-2">
            Tags :
            {% for letag in content.tag.all %}
            <a class="text-sm px-1 py-[2px] rounded-md bg-emerald-400 hover:bg-emerald-500 transition-all text-white"
                href="/partage/{{ letag }}/contenus/">
                {{ letag }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</section>
{% endif %}

{% endblock %}