<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tous</title>
        <!--<link href="https://useiconic.com/open/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body style="height: 100%;">
        <div style="min-height: 100%; position: relative; bottom: 0;">
            <div id="grand_ecran" class="text-bg-light p-3 sticky-top" style="display: none;">
                <a href="/partage"><img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" style="width: 20%;" alt=""></a>
                <a href="/partage"><button type="button" class="btn btn-outline-success">Accueil</button></a>
                <a href="/partage/jeu/"><button type="button" class="btn btn-outline-success">Jouer</button></a>
                <a href="/partage/tags"><button type="button" class="btn btn-outline-success">Les tags</button></a>
                <a href="/partage/rechercher/"><button type="button" class="btn btn-outline-success">Rechercher</button></a>
                <a href="/partage/sources/allsources/"><button type="button" class="btn btn-outline-success">Nos sources</button></a>
                <!--<a href="/partage/more/contribute/"><button type="button" class="btn btn-outline-success">Contribuer</button></a>-->
                <a href="/partage/more/leProjet/"><button type="button" class="btn btn-outline-success">Le projet</button></a>
            </div>

            <div id="petit_ecran" style="display: none;" class="sticky-top">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/partage">
                            <img src="https://raw.githubusercontent.com/GreenAI-Uppa/GreenAI-Uppa.github.io/main/assets/horizontal_dark_logo.png" class="img-fluid" width="160" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" href="/partage">Accueil</a>
                                <a class="nav-link" href="/partage/jeu/">Jouer</a>
                                <a class="nav-link" href="/partage/tags/">Les tags</a>
                                <a class="nav-link" href="/partage/rechercher/">Rechercher</a>
                                <a class="nav-link" href="/partage/sources/allsources/">Nos sources</a>
                                <!--<a class="nav-link" href="/partage/more/contribute/">Contribuer</a>-->
                                <a class="nav-link" href="/partage/more/leProjet/">Le projet</a>
                            </div>
                        </div>
                    </div>
                </nav>
                
            </div>

            <script>
                var grand_ecran = document.getElementById('grand_ecran');
                var petit_ecran = document.getElementById('petit_ecran');
                if (screen.width > 800) {
                    grand_ecran.style.display = 'block';
                    petit_ecran.style.display = 'none';
                } else {
                    petit_ecran.style.display = 'block';
                    grand_ecran.style.display = 'none';
                }
            </script>
            
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-dark" onclick="tous()">TOUS ({{ content_list.count }})</button>
                    <button type="button" class="btn btn-dark" onclick="falsified()">CONTENUS FALSIFIÉS ({{ content_list_falsified.count}})</button>
                    <button type="button" class="btn btn-dark" onclick="not_falsified()">CONTENUS NON FALSIFIÉS ({{ content_list_not_falsified.count}})</button>
                    <button type="button" class="btn btn-dark" onclick="easy()">COLLEGE ({{ content_list_easy.count}})</button>
                    <br>
                    <div id="block1">
                        {% if content_list %}
                            {% for texte in content_list %}
                                <div class="card">
                                    <div class="card-body">
                                        {% if texte in content_http_list %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <a href="{{ texte.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                    lien</button></a>
                                            </h3>
                                        {% else %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ texte.location }}">
                                                    Marque page</button>
                                            </h3>
                                        {% endif %}
                                        <h6 class="card-subtitle text-muted mb-2">
                                            {% for author in texte.source.auteur.all %}
                                                <a href="/partage/author/{{ author }}"><span class="badge text-bg-light">{{ author }}</span></a>
                                            {% endfor %}

                                        </h6>
                                        <p class="card-text">{{ texte.text|linebreaks }}</p>
                                        <div id="tags">
                                            {% for letag in texte.tag.all %}
                                            <a href="/partage/{{ letag }}/contenus/"><span class="badge text-bg-success">{{ letag }}</span></a>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <a href="/../admin/partage/content/{{ texte.id }}/change/" target="_blank"><svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg></a>
                                        <svg id="button_upload_b1_{{ texte.id }}" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                        </svg>
                                        <script>
                                            var btnUpload = document.getElementById('button_upload_b1_{{ texte.id }}');

                                            btnUpload.addEventListener('click', function(event) {
                                                var lien = "https://la-derniere-bibliotheque.org/partage/next/{{ texte.id }}/";
                                                navigator.clipboard.writeText(lien).then(function() {
                                                    alert("Le lien a été copié dans le presse papier !");
                                                }, function(err) {
                                                    alert("ERREUR : le lien n'a pas été copié dans le presse papier !");
                                                });
                                            });
                                        </script>
                                        <br><br>
                                        <p>{{ texte.id }}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="block2">
                        {% if content_list_falsified %}
                            {% for texte in content_list_falsified %}
                                <div class="card">
                                    <div class="card-body">
                                        {% if texte in content_http_list %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <a href="{{ texte.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                    lien</button></a>
                                            </h3>
                                        {% else %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ texte.location }}">
                                                    Marque page</button>
                                            </h3>
                                        {% endif %}
                                        <h6 class="card-subtitle text-muted mb-2">
                                            {% for author in texte.source.auteur.all %}
                                                <a href="/partage/author/{{ author }}"><span class="badge text-bg-light">{{ author }}</span></a>
                                            {% endfor %}

                                        </h6>
                                        <p class="card-text">{{ texte.text|linebreaks }}</p>
                                        <p class="card-text"><b>Texte falsifié :</b></p>
                                        <p class="card-text">{{ texte.text_game|linebreaks }}</p>
                                        <div id="tags">
                                            {% for letag in texte.tag.all %}
                                            <a href="/partage/{{ letag }}/contenus/"><span class="badge text-bg-success">{{ letag }}</span></a>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <a href="/../admin/partage/content/{{ texte.id }}/change/" target="_blank"><svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg></a>
                                        <svg id="button_upload_b2_{{ texte.id }}" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                        </svg>
                                        <script>
                                            var btnUpload = document.getElementById('button_upload_b2_{{ texte.id }}');

                                            btnUpload.addEventListener('click', function(event) {
                                                var lien = "https://la-derniere-bibliotheque.org/partage/next/{{ texte.id }}/";
                                                navigator.clipboard.writeText(lien).then(function() {
                                                    alert("Le lien a été copié dans le presse papier !");
                                                }, function(err) {
                                                    alert("ERREUR : le lien n'a pas été copié dans le presse papier !");
                                                });
                                            });
                                        </script>
                                        <br><br>
                                        <p>{{ texte.id }}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="block3">
                        {% if content_list_not_falsified %}
                            {% for texte in content_list_not_falsified %}
                                <div class="card">
                                    <div class="card-body">
                                        {% if texte in content_http_list %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <a href="{{ texte.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                    lien</button></a>
                                            </h3>
                                        {% else %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ texte.location }}">
                                                    Marque page</button>
                                            </h3>
                                        {% endif %}
                                        <h6 class="card-subtitle text-muted mb-2">
                                            {% for author in texte.source.auteur.all %}
                                                <a href="/partage/author/{{ author }}"><span class="badge text-bg-light">{{ author }}</span></a>
                                            {% endfor %}

                                        </h6>
                                        <p class="card-text">{{ texte.text|linebreaks }}</p>
                                        <div id="tags">
                                            {% for letag in texte.tag.all %}
                                            <a href="/partage/{{ letag }}/contenus/"><span class="badge text-bg-success">{{ letag }}</span></a>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <a href="/../admin/partage/content/{{ texte.id }}/change/" target="_blank"><svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg></a>
                                        <svg id="button_upload_b3_{{ texte.id }}" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                        </svg>
                                        <script>
                                            var btnUpload = document.getElementById('button_upload_b3_{{ texte.id }}');

                                            btnUpload.addEventListener('click', function(event) {
                                                var lien = "https://la-derniere-bibliotheque.org/partage/next/{{ texte.id }}/";
                                                navigator.clipboard.writeText(lien).then(function() {
                                                    alert("Le lien a été copié dans le presse papier !");
                                                }, function(err) {
                                                    alert("ERREUR : le lien n'a pas été copié dans le presse papier !");
                                                });
                                            });
                                        </script>
                                        <br><br>
                                        <p>{{ texte.id }}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="block4">
                        {% if content_list_easy %}
                            {% for texte in content_list_easy %}
                                <div class="card">
                                    <div class="card-body">
                                        {% if texte in content_http_list %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <a href="{{ texte.location }}" target="_blank" style="color: black;"><button type="button" class="btn">
                                                    lien</button></a>
                                            </h3>
                                        {% else %}
                                            <h3 class="card-title"><a href="/partage/sources/{{ texte.source }}" style="text-decoration: none; color: black;">{{ texte.source }}</a>
                                                <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ texte.location }}">
                                                    Marque page</button>
                                            </h3>
                                        {% endif %}
                                        <h6 class="card-subtitle text-muted mb-2">
                                            {% for author in texte.source.auteur.all %}
                                                <a href="/partage/author/{{ author }}"><span class="badge text-bg-light">{{ author }}</span></a>
                                            {% endfor %}

                                        </h6>
                                        <p class="card-text">{{ texte.text|linebreaks }}</p>
                                        <div id="tags">
                                            {% for letag in texte.tag.all %}
                                            <a href="/partage/{{ letag }}/contenus/"><span class="badge text-bg-success">{{ letag }}</span></a>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <a href="/../admin/partage/content/{{ texte.id }}/change/" target="_blank"><svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg></a>
                                        <svg id="button_upload_b3_{{ texte.id }}" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                        </svg>
                                        <script>
                                            var btnUpload = document.getElementById('button_upload_b3_{{ texte.id }}');

                                            btnUpload.addEventListener('click', function(event) {
                                                var lien = "https://la-derniere-bibliotheque.org/partage/next/{{ texte.id }}/";
                                                navigator.clipboard.writeText(lien).then(function() {
                                                    alert("Le lien a été copié dans le presse papier !");
                                                }, function(err) {
                                                    alert("ERREUR : le lien n'a pas été copié dans le presse papier !");
                                                });
                                            });
                                        </script>
                                        <br><br>
                                        <p>{{ texte.id }}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>       

            <footer class="text-center bg-light" style="width: 100%; border-top: 1px solid grey;">
                <div class="small text-muted">
                    <small>Ce(tte) œuvre est mise à disposition selon les termes de la <a class="link-success" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de Modification 4.0 International</a>.</small>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    var block1 = document.getElementById('block1');
    var block2 = document.getElementById('block2');
    var block3 = document.getElementById('block3');
    var block4 = document.getElementById('block4');

    block1.style.display = "none";
    block2.style.display = "none"; 
    block3.style.display = "none";   
    block4.style.display = "none";   

    function falsified() {
        block2.style.display = "block";
        block1.style.display = "none";
        block3.style.display = "none";
        block4.style.display = "none";
    }
    function not_falsified() {
        block3.style.display = "block";
        block1.style.display = "none";
        block2.style.display = "none";
        block4.style.display = "none";
    }
    function tous() {
        block1.style.display = "block";
        block2.style.display = "none";
        block3.style.display = "none";
        block4.style.display = "none";
    }
    function easy() {
        block4.style.display = "block";
        block1.style.display = "none";
        block2.style.display = "none";
        block3.style.display = "none";
    }

</script>